################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SFMLProject/x64/Release
/SFMLProject/x64/Release
/x64/Release
/.vs/KinectToVR/v16
/KinectV1Process/x64/Release
/inputemulator/driver_vrinputemulator/src/devicemanipulation/Eigen
/KinectV2Process/x64/Release
/.vscode
/KinectV1Process/x64/Debug
/SFMLProject/x64/Debug

/external/boost_1_74_0

.github/

docs/

readmeimg/

inputemulator/

*.user

*.cfg

*.log

.vs/

external/KVRlib/KinectToVR-d.lib

external/KVRlib/KinectToVR.lib

external/KVRlib/

PSMSProcess/PSMSProcess.aps

PSMSProcess/x64/

*.aps

driver_K2VR/x64/

x64/
