[submodule "cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal
[submodule "OpenVR-InputEmulator"]
	path = external/inputemulator
	url = https://github.com/matzman666/OpenVR-InputEmulator
[submodule "external/openvr"]
	path = external/openvr
	url = https://github.com/ValveSoftware/openvr
